.about{
    background-color: #b2a4e1;
    color:#070a00;
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative;
    bottom: 15rem;
    font-style: italic;
    font-size: 20px ;
    font-family: 'Times New Roman', Times, serif;
}


.links{
    display: flex;
    gap: 2rem;
    
}

a:link , a:visited{
    color: #f2e3e3;
}

.us{
    padding-top:0rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    word-wrap: wrap;
}