# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Operating system files
.DS_Store
Thumbs.db
