.container1Careers {
    width: 100vw;
    height: 450px;
}

.body {
    margin: 70px 0px;
    font-family: sans-serif;
}

.headingCareers1 {
    font-size: 90px;
    line-height: 96px;
    font-weight: 900;
    width: 1200px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.descriptionCareers1 {
    font-size: 20px;
    color: #cccccc;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchCareers1 {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.searchCareers1 input {
    width: 500px;
    margin: 0;
    font-weight: bold;
}

.searchCareers1 button {
    height: 40px;
}

.container2Careers {
    width: 100vw;
    height: auto;
    min-height: 700px;
}

.headingCareers2 {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.textCareers {
    color: #ff21bc;
}

.descriptionCareers2 {
    margin: auto;
    max-width: 1000px;
    width: 95vw;
    text-align: center;
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 40px;
}

.boxes1Careers {
    width: 100vw;
    margin: auto;
    height: auto;
min-height: 425px;
justify-content: center;
flex-wrap: wrap;
    display: flex;
}

.box1Careers {
    width: auto;
    max-width: 400px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box1Careers:hover {
    transform: scale(1.05);
    background-color: #3228a7;
}

.box1Careers:hover .headingCareers3, .box1Careers:hover .descriptionCareers3{
    background-color: #3228a7 !important;
    color: #cccccc !important;;
}

.headingCareers3 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.descriptionCareers3 {
    line-height: 26px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container3Careers {
    margin-bottom: 70px;
}

.boxes2Careers {
    height: 400px;
    width: 90vw;
    margin: auto;
    margin-bottom: 40px;
}

.box2aCareers {
    height: auto;
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
@media only screen and (max-width:500px) {
        .box2aCareers{
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        .box1Careers{
            padding: 20px;
            font-size: 15px;
        }
        .box1Careers{
            align-items: center;
        }
        .headingCareers3,.descriptionCareers3{
            font-size: 15px !important;
        }
        .Careeers2abdesc{
            font-size: 15px !important;
        }
        .container4Careers{
            gap: 50px;
            flex-wrap: wrap;
            margin-top: 50px !important;
            margin-bottom: 50px;
        }
}
.box2aCareers:hover {
    transform: scale(1.05);
    background-color: #3228a7 !important;
}
.box2aCareers:hover .Careeers2abdesc{
    background: #3228a7 !important;
    color: #cccccc !important;
}



.Careers2aa {
    width: 100%;
    min-width: 300px;
    
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text2Careers {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.Careers2abHeading {
    display: flex;
    gap: 15px;
}

.Careeers2abdesc {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.boxes3Careers {
    height: 350px;
    width: 85vw;
    margin: auto;
    display: flex;
}

.box2bCareers {
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box2bCareers:hover {
    transform: scale(1.05);
    background-color: #3228a7;
}

.box2bCareers:hover .Careeers2abdesc{
    background: #3228a7 !important;
    color: #cccccc !important;
}

.boxes3aCareers {
    width: 100%;
    height: 400px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box3adesc {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 32px;
}

.box3adesc ul li {
    list-style: disc;
    list-style-position: inside;
    color: #cccccc;
}

.container4Careers {
    min-height: 500px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.boxes4Careers {
    width: 550px;
    height: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #13093d;
    border-radius: 50px;
    border: 3px solid #6052ff;
    box-shadow: 6px 6px 32px 0 #6052ff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.boxes4Careers:hover {
    transform: scale(1.05);
    background-color: #3228a7;
}

.box4desc {
    text-align: justify;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 45px;
    word-spacing: -5px;
}

.writerCareers {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff21bc;
}

.container5Careers {
    width: 90vw;
    height: 300px;
    margin: auto;
    margin-bottom: 100px;
}

.openingsCareers {
    padding: 0 50px;
}

.openCareers {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

.openCareers span {
    color: white;
    font-size: 20px;
}

.location {
    color: #cccccc;
    font-style: italic;
}

.submitCareers {
    width: 80vw;
    height: 80px;
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

@media only screen and (max-width: 1220px) {
    .headingCareers1 {
        width: 95vw;
    }

    .box3adesc {
        font-size: 16px;
    }

    .boxes3aCareers {
        padding: 20px;
    }

    .boxes4Careers {
        width: 475px;
    }

    .box4desc {
        font-size: 20px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .boxes4Careers {
        width: 400px;
    }

    .box4desc {
        font-size: 20px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 850px) {
    .headingCareers1 {
        font-size: 70px;
    }

    .descriptionCareers1,
    .descriptionCareers2 {
        font-size: 16px;
    }

    .headingCareers3 {
        font-size: 20px;
    }

    .descriptionCareers3 {
        font-size: 16px;
    }

    .box1Careers {
        padding: 10px;
    }

    .box4desc {
        font-size: 16px;
    }

    .boxes4Careers {
        width: 350px;
    }

    .writerCareers {
        font-size: 22px;
    }
}

@media only screen and (max-width: 760px) {
    .submitCareers {
        font-size: 25px;
    }

    .boxes3aCareers {
        padding: 15px;
    }

    .headingCareers3 {
        font-size: 18px;
    }

    .box3adesc {
        font-size: 14px;
        line-height: 24px;
    }

    .boxes4Careers {
        width: 300px;
    }
}

@media only screen and (max-width: 665px) {
    .submitCareers {
        font-size: 20px;
    }

    .headingCareers1 {
        font-size: 50px;
        line-height: 1.3;
    }

    .descriptionCareers1,
    .descriptionCareers2 {
        font-size: 14px;
    }

    .searchCareers1 {
        width: 90vw;
        margin: auto;
    }

    .searchCareers1 input {
        width: 100%;
    }

    .boxes3Careers {
        height: auto;
    }

    .box4desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 570px) {
    .submitCareers {
        font-size: 18px;
    }

    .headingCareers2 {
        font-size: 24px;
    }

    .descriptionCareers3 {
        font-size: 12px;
    }

    .box3adesc {
        font-size: 12px;
        line-height: 20px;
    }

    .boxes4Careers {
        width: 90%;
        padding: 15px;
        border-radius: 20px;
    }

    .writerCareers {
        font-size: 18px;
    }
}

@media only screen and (max-width: 460px) {
    .box4desc {
        font-size: 12px;
    }
.boxes3Careers{
    flex-wrap: wrap;
    height: auto;
}
.boxes3aCareers{
    height: auto !important;
    
}
.boxes3aCareers li{
    font-size: 15px;
}
    .box3adesc ul li {
        line-height: 25px;
    }
}

@media only screen and (max-width: 425px) {
    .container1Careers,
    .container2Careers {
        height: auto;
    }

    .submitCareers {
        font-size: 14px;
    }

    .headingCareers1 {
        font-size: 40px;
    }

    .headingCareers2 {
        font-size: 20px;
    }

    .headingCareers3 {
        font-size: 14px;
    }

    .box4desc {
        font-size: 16px;
    }

    .descriptionCareers3 {
        font-size: 10px;
    }

    .box3adesc {
        font-size: 10px;
        line-height: 16px;
    }

    .boxes4Careers {
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .headingCareers1 {
        font-size: 30px;
    }

    .headingCareers2 {
        font-size: 18px;
    }

    .descriptionCareers3 {
        font-size: 8px;
    }

    .box4desc {
        font-size: 8px;
    }

    .descriptionCareers1,
    .descriptionCareers2 {
        font-size: 10px;
    }

    .text2Careers {
        font-size: 24px;
    }

    .writerCareers {
        font-size: 12px;
    }
}

.light .body div{
    background: #F3CFC6 !important;
    color: #000000 !important;
}
