* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control small {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error input {
    border-color: red;
}

.form-control.error small {
    visibility: visible;
}

.form-control.success input {
    border-color: green;
}
