.auth-container {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.auth-container form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(60, 59, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.auth-container form p {
    text-align: center;
    color: rgb(186, 186, 186);
    font-size: 14px;
}
.auth-container form button {
    width: 100%;
}
p .link {
    color: #cf00a3;
    cursor: pointer;
}
p .link:hover {
    text-decoration: underline;
}
.err {
    width: 100%;
    padding: 7px;
    text-align: center;
    border-radius: 4px;
    color: red;
    background-color: rgb(255, 230, 230);
    font-size: 14px;
}