.my-projects-wrapper .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
button {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 16px;
}
.projects-wrapper {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: left;
   flex-wrap: wrap;
   gap: 20px;
   margin: 20px 0;
}
.top a {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 40px;
}
.project-card {
    /* background-color: rgb(23, 23, 83); */
    color: white;
    flex: 1 0 300px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #3c395f;
    transition: 0.3s ease-in-out;
}
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #6052ff;
}
.project-card img {
    width: 100%;
    height: 220px;
}
.project-card .top h2{
    margin-right: auto;
}
.likes i {
    display: flex;
    gap: 5px;
    align-items:  center;
    color: hotpink;
}
small {
color: gray;
}
.btn-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.edit-btn {
    /* background-color: blue; */
    background-color: #0b0b5f;
}
.github-btn {
    /* background-color: purple; */
    background-color: #ff6347;
}
.edit-btn:hover {
    /* background-color: rgb(1, 1, 213); */
    background-color: #262696;
}
.github-btn:hover {
    background-color: #e55347;
}
.details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.light .project-card h2 , .light .project-card p{
    background: #F3CFC6 !important;
    color: #000000 !important;
}
.home-icon{
    margin-left: 5%;
    cursor: pointer;  
}
.nav{
    display: flex;
    justify-content: space-around;
}
.top a:hover{
    background-color: rgb(1, 1, 147);
    border-radius: 10px;
}
.main-title{
    text-decoration: underline;
}

@media screen and (max-width:560px) {
    .nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;       
    }
    .top{
        flex-direction: column;
    }
    .home-icon{
        margin-left: 15%;
    }
    .top a{
        font-size: 20px;
    }
}