.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 3rem 0 3rem 0; 
}


.create-account-form {
  background-color: rgba(0,0,0,0.26);
  padding: 2rem;
  border-radius: 25px;
  border: 3px solid cyan;
  animation: borderAnimation 8s infinite;
}

@keyframes borderAnimation {
  0% { border-color: cyan; }
  50% { border-color: rgb(235, 235, 15); }
  25% { border-color: #cf00a3; }
  75% { border-color: #04aaac; }
  100% { border-color: cyan; }
}


.step::before {
  content: attr(data-step);
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border-radius: 50%;
  background: #ACB6C7;
  color: #fff;
  text-align: center;
  line-height: 20px; /* Adjust as needed */
  z-index: 1; /* Add this to make the circles appear above the lines */
}
.step span {
  flex: 1;
  color: #cf00a3;
}

.step input {
  flex: 2;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

.step.active span {
  font-weight: bold;
}

.step.step-1[data-step="1"]::before {
  background-color: #4285F4; /* Color when step 1 is active */
}


.step.step-2[data-step="1"]::before {
  background-color: #87fc93; /* Color when step 2 is active */
}

.step.step-2[data-step="2"]::before {
  background-color: #4285F4; /* Color when step 2 is active */
}
.step.step-3[data-step="1"]::before {
  background-color: #87fc93; /* Color when step 3 is active */
}

.step.step-2[data-step="3"]::before {
  background-color: #87fc93; 
}
.step.step-3[data-step="3"]::before {
  background-color: #4285F4; /* Color when step 3 is active */
}


  /* Buttons */
.next-btn {
  background-color:rgba(9, 2, 34, 0.2);
  color: #78a9fa;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem auto;
  display: block;
  border-radius: 40px;
  font-size: 1.5rem;
}

.next-btn:hover {
  background-color: #b21783;
}

.signup-options {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.facebook-btn,
.google-btn {
  background-color: rgba(9, 2, 34, 0.2); /* 20% of #090222 */
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Add this line */
  font-family: "Roboto", sans-serif;

}

.facebook-btn:hover,
.google-btn:hover {
  background-color: #b21783;
}
.facebook-btn::before {
  content: '';
  background-image: url('../../public/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;

}

.google-btn::before {
  content: '';
  background-image: url('../../public/2.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.input-field::placeholder {
  color: grey;
  font-size:1rem;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
}
