.footer {
  background-color: #19162c;
  color: white;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  z-index: 900;
  height: 55vh;;
}
.scrolltop{
  size: 20px;

}
.footer-container {
  display: flex;
  z-index: 1000;
}

.footer-container-md {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.footer-1 {
  display: flex;
  gap: 20px;
  width: 40%;
}

.footer-1 > div {
  display: flex;
  flex-direction: column;
}

.footer-1 img {
  height: 3rem;
}

.footer-title {
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-description {
  margin-top: 0.8rem;
  font-size: 0.999rem;
  color: #fff;
  

}

.footer-half {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1000;
}

.footer-2 {
  width: 20%;
}

.footer-section-title {
  color: white;
  font-weight: bold;
  font-size: 23px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.footer-section-title:hover {
  color: #cf00a3;
  font-size: 27px;
}

.footer-links {
  color: white;
  padding: 1rem 0;
  list-style: none;
}

.footer-links li {
  padding: 0.25rem 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s, font-size 0.3s;
}

.footer-links a:hover {
  color: #cf00a3;
  font-size: 1.1rem; /* Slightly increase font size on hover */
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 7rem;
  font-size: x-large;
}

.footer-icons a {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}

.footer-icons a:hover {
  font-size: 1.75rem;
  color: #007bff;
}

.footer-icons a {
  text-decoration: none;
}

.footer-icons-md {
  justify-content: flex-end;
}

.footer-bottom {
  color: #c3c3c3;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}

.footer-bottom-link {
  cursor: pointer;
}

.footer-sections {
  display: flex;
}

.go-pro-btn {
  background: linear-gradient(#ff21bc, #b21783);
  font-style: oblique;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  transition: ease-in-out 500ms;
  margin-right: 1rem;
  text-decoration: none !important;
}

.go-pro-btn:hover {
  background-color: #b21783;
  font-size: 18px;
}

.profileIconlogin {
  background: linear-gradient(#ff21bc, #b21783);
  font-style: oblique;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  transition: ease-in-out 500ms;
  margin-right: 1rem;
  text-decoration: none !important;
  width: 220px;
  text-align: center;
  padding: 6px;
}

.profileIconlogin:hover {
  background-color: #b21783;
  font-size: 20px;
}

.profileContainer a {
  text-decoration: none;
}

.footer-title a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-half {
    width: 100%;
    justify-content: space-between;
  }

  .footer-2 {
    width: 20%;
    text-align: left;
  }

  .footer-icons {
    margin-right: 5rem;
    justify-content: flex-end;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: left;
  }
}

@media (max-width: 400px) {
  .footer-half {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-icons {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
}
