.footer {
  background-color: #19162c;
  color: white;
  padding: 2.5rem;
}

.footer-container {
  display: flex;
}

.footer-container-md {
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  display: flex;
  gap: 20px;
  width: 40%;
}

.footer-1 img {
  height: 3rem;
}

.footer-half {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.footer-2 {
  width: 20%;
}

.footer-title {
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-section-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.footer-links {
  color: white;
  padding: 1rem 0;
  list-style: none;
}

.footer-link {
  padding: 0.25rem 0;
  cursor: pointer;
}

.footer-link a{
  text-decoration: none;
  color: white;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  margin-right: 7rem;
  font-size: x-large;
}

.footer-icons a i {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}

.footer-icons a i:hover {
  font-size: 2rem;
}

.footer-icons a {
  text-decoration: none;
}

.footer-icons-md {
  justify-content: flex-end;
}

.footer-bottom {
  margin-top: 3rem;
  color: #c3c3c3;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}

.footer-bottom-link {
  cursor: pointer;
}

.footer-sections {
  display: flex;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-half {
    width: 100%;
    justify-content: space-between;
  }

  .footer-2 {
    width: 20%;
  }

  .footer-icons {
    margin-right: 5rem;
    justify-content: flex-end;
  }

  .footer-bottom {
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .footer-half {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-icons {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
}
