.footer {
  background-color: #19162c;
  color: white;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.footer-container {
  display: flex;
}

.footer-container-md {
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  display: flex;
  gap: 20px;
  width: 40%;
}

.footer-1 img {
  height: 3rem;
}

.footer-half {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.footer-2 {
  width: 20%;
}

.footer-title {
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-section-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.footer-links {
  color: white;
  padding: 1rem 0;
  list-style: none;
}

.footer-link {
  padding: 0.25rem 0;
  cursor: pointer;
}

.footer-link a {
  text-decoration: none;
  color: white;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 7rem;
  font-size: x-large;
}

.footer-icons a img {
  width: 2rem; /* Adjust the size of the icons */
  transition: transform 0.3s;
}

.footer-icons a img:hover {
  transform: scale(1.2);
}

.footer-icons a i {
  transition: color 0.3s, transform 0.3s;
}

.footer-icons a i.linkedin:hover {
  color: #0077B5; /* LinkedIn blue */
  transform: scale(1.2);
}

.footer-icons a i.github:hover {
  color: #181717; /* GitHub black */
  transform: scale(1.2);
}

.footer-icons a i.facebook:hover {
  color: #1877F2; /* Facebook light blue */
  transform: scale(1.2);
}

.footer-icons a i.twitter:hover {
  color: #1DA1F2; /* Twitter blue */
  transform: scale(1.2);
}

.footer-icons a img.discord:hover {
  filter: brightness(1.5) hue-rotate(180deg); /* Discord color */
  transform: scale(1.2);
}

.footer-icons a {
  text-decoration: none;
}

.footer-icons-md {
  justify-content: flex-end;
}

.footer-bottom {
  color: #c3c3c3;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}

.footer-bottom-link {
  cursor: pointer;
}

.footer-sections {
  display: flex;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-half {
    width: 100%;
    justify-content: space-between;
  }

  .footer-2 {
    width: 20%;
  }

  .footer-icons {
    margin-right: 5rem;
    justify-content: flex-end;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: left;
  }
}

@media (max-width: 400px) {
  .footer-half {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-icons {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
}