@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 100px;
  padding: 0;
  box-sizing: border-box;
}
.home-icon {
  position: absolute;
  top: 1.9rem;
  left: 1.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.signin-signup.home-link.no-margin-right{
  position: relative;
  top: 1.0rem;
  left: 1.5rem;
  width: 2.5rem;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
.toggle-password:hover {
  cursor: default;
  background-color: inherit;
  transform: none;
}

.panels-container {
  position: relative;
  width: 100%;
  background-color: #121026 !important;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 20px;
}


.error-text {
  color: darkturquoise !important; /* Default error text color */
  font-size: 1.1rem;
  margin-top: 5px;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: -38vh;
  
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: darkturquoise !important;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0 !important;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%; /* This centers the eye icon vertically */
  transform: translateY(-50%);
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac !important;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: darkturquoise !important;
}

.input-field input::placeholder {
  color: #aaa !important;
  font-weight: 500;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: darkturquoise !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-text {
  padding: 0.7rem 0;
  font-size: 1.2rem;
  color: darkturquoise !important;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333 !important;
  border-radius: 50%;
  border: 1px solid darkturquoise !important;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.1); /* Slightly enlarges the icon */
  box-shadow: 0 4px 8px darkturquoise !important; /* Adds a shadow on hover */
}
.home-link.no-margin-right {
  margin-right: 0px;
}

.btn {
  width: 150px;
  text-align: center;
  background-color: darkturquoise !important;
  border: solid 2px #121026 !important;
  outline: none;
  height: 32px;
  border-radius: 49px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #00ced1;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover */
  transform: scale(1.05); /* Slightly enlarges the button */
  border-color: #121026; /* Slightly lighter yellow on hover */
}

.btn1 {
  width: 150px;
  background-color: darkturquoise;
  border: solid 2px #121026;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn1:hover {
  background-color: #00ced1;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover */
  transform: scale(1.05); /* Slightly enlarges the button */
  border-color: #121026; /* Slightly lighter yellow on hover */
}

.panels-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.container1:before {
  content: "";
  position: absolute;
  margin-top: 18vh;
  height: 1520px;
  width: 800px;
  top: -10%;
  right: 53%;
  transform: translateY(-50%);
  background-image: linear-gradient(
    -45deg,
    darkturquoise 0%,
    darkturquoise 100%
  );
  transition: 1.8s ease-in-out;
  border-radius: 80%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.panel .content {
  color: darkturquoise;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.8rem;
  color: white;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.8rem 0;
  color: white;
}

.btn.transparent {
  margin: 0;
  background: darkturquoise;
  border: 2px solid #fff;
  width: 140px;
  height: 48px;
  font-weight: 600;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

.container1.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 46%;
  width: 780px;
}

.container1.sign-up-mode .left-panel .image,
.container1.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container1.sign-up-mode .signin-signup {
  left: 28%;
}

.container1.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container1.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container1.sign-up-mode .right-panel .image,
.container1.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container1.sign-up-mode .left-panel {
  pointer-events: none;
}

.container1.sign-up-mode .right-panel {
  pointer-events: all;
}
.reset-link {
  display: inline-block;
  color: #00ced1;
  cursor: pointer;
  margin: 15px 0;
}
.reset-link:hover {
  text-decoration: underline;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 140px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
  .container1:before {
    background-image: none;
  }
  .signin-signup {
    margin-top: 50px;
  }
  .btn.transparent {
    font-size: 11px;
    width: auto;
    height: 5vh;
  }
  .container1.sign-up-mode .right-panel {
    position: absolute;
    left: 3%;
    bottom: 65vh;
  }
  .signin-signup .sign-up-form {
    margin-left: 20%;
  }
  .container1.sign-up-mode:before {
    display: none;
  }
}

@media screen and (max-width: 606px) {
  .container1.sign-up-mode .right-panel {
    padding-left: 40px;
    margin-bottom: 5%;
    bottom: 62vh;
  }
  h2.title {
    font-size: 2rem;
  }
  .sign-up-form {
    padding-left: 4%;
  }
  .panels-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 570px) {
  .container1.sign-up-mode .right-panel {
    margin-left: 7%;
  }
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0;
  }
  .container {
    padding: 1.5rem;
  }
  .right-panel {
    padding: 1rem 4rem 4rem 0;
  }
  .panels-container {
    margin-top: 0;
  }
  .input-field {
    position: relative;
    display: flex;
    align-items: center;
  }

  .password-container {
    position: relative;
    width: 100%;
  }

  .password-container input {
    width: 100%;
    padding-right: 30px; /* Add padding to make space for the icon */
  }
  .password-container i {
    position: absolute;
    right: 20px; /* Adjusted to move the icon more to the right */
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 515px) {
  .container1.sign-up-mode .right-panel {
    margin-left: 4%;
    margin-right: 3%;
  }
}
@media screen and (max-width: 401px) {
  .input-field {
    width: 80%;
  }
  .container1.sign-up-mode .right-panel {
    margin-bottom: 20%;
  }
  .container1 .left-panel {
    margin-top: 20%;
  }
  h2.title {
    font-size: 1.5rem;
  }
}
