body {
  position: relative;
  margin: 0;
}

.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: #19162c;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100;
}

.sidebar {
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background: #19162c;
  color: #fff;
  transition: 0.3s;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #19162c;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-header .close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.sidebar-menu {
  position: relative;
  margin: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar ul li {
  padding: 1rem;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 100px;
}

.tooltip {
  margin-left: 10px;
  font-size: 0.9rem;
}
