body {
  position: relative;
  margin: 0;
}

.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: #19162c;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001; /* Higher than the navbar */
}

.sign-out-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgb(25, 22, 44);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1002; /* Higher than the navbar */
  border-radius: 10px;
}

.sign-out-popup button {
  margin: 5px;
}

.success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1002; /* Higher than the navbar */
}

.buttonSignOut {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.sidebar {
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background: #19162c;
  color: #fff;
  transition: 0.3s;
  z-index: 10001; /* Higher than the navbar */
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #cf00a3;
  z-index: 999; /* Higher than the navbar */
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-header .close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.sidebar-menu {
  position: relative;
  margin: 0;
  z-index: 1001; /* Ensure menu items are above other elements */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar ul li {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar ul li:hover {
  background-color: #cf00a3 ; /* Change the background color on hover */
  border-radius: 5px; /* Optional: Add rounded corners for a smoother look */
}

.sidebar ul li:hover span{
  background-color: #cf00a3 !important;
}


.sidebar ul li:hover a {
  color: white; /* Ensure text color is readable on hover */
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  z-index: 1100; /* Higher than other elements to ensure it is not hidden */
  position: relative; /* Ensure it follows the normal flow and positioning */
}

.tooltip {
  margin-left: 10px;
  font-size: 1.1rem;
  color: white;
}

.light .sidebar li span{
  background: #F3CFC6 ;
  color: #000000 !important;
}

.light .sidebar-header{
  background: #F3CFC6 !important;
  color: #000000 !important;
}
