.p-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.p-page .arrow{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 90px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    padding: 30px 50px;
    font-family: sans-serif;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 80%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .icon{
    width: 240px;
    height: 250px;
}
.profile .head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 20px 50px;
    line-height: 30px;
}
.head-text .dev{
    font-size: 2.7rem;
    font-weight: 700;
}
.head-text .role{
    font-size: 1.7rem;
    padding-top: 10px;
}
.head-text .btn{
    padding: 12px 24px;
    font-size: medium;
    font-weight: 550;
    background-color: rgb(67, 93, 238);
    width: fit-content;
}
.head-text button:hover{
    background-color: rgb(0, 47, 255);
}
.profile .about{
    font-size: 1.2rem;
    padding: 30px 0px;
}
@media (max-width:870px) {
    .profile{
        padding: 30px 10px;
    }
    .profile .head{
        display: flex;
        flex-direction: column;
    }
    .profile .head-text{
        padding: 30px;
    }
}
@media (max-width:425px) {
    .profile{
        padding: 10px;
    }
}