.profileContainer,
.notification-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar {
  width: 100%;
  height: auto;
  background: #19162c;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  gap: 0.5rem;
  z-index: 99999;
}

#list {
  display: inline;
  padding: 20px;
}
.largeview a:hover {
  color: #cf00a3;
  font-size: 1.05rem; /* Slightly increase font size on hover */
}
.open a:hover {
  color: #cf00a3;
  font-size: 1.05rem; /* Slightly increase font size on hover */
}
.mobview {
  display: none;
}

@media screen and (max-width: 1500px) {
  .mobview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 1100;
  }

  .bars {
    padding: 20px;
    cursor: pointer;
  }

  .largeview {
    display: none;
  }

  .mobview #shortview {
    position: absolute;
    right: 15px;
    top: 60px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    display: none;
    transition: transform 0.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
  }

  .mobview #shortview:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: hsl(190, 85%, 40%);
    top: -5px;
    right: 20px;
    transform: rotate(45deg);
  }

  #shortview.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobview #shortview ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .mobview #shortview ul li {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    color: #757380;
    text-align: center;
    font-size: 14px;
  }
  .mobview #shortview ul li:hover {
    background: #19162c; /* Light background on hover */
    color: #757380;
    transition: 0.3s;
  }
}
