.box1Freelancer {
    width: 100vw;
    margin-bottom: 28px;
}
.home-icon {
    position: absolute;
    top: 1.8rem;
    left: 1.5rem;
    width: 2.5rem;
    cursor: pointer;
}
.freelancer {
    margin: 50px 0px;
    height: 100%;
}
.footer{
    margin-bottom: 0px;
}
.heading1freelancerbox1 {
    font-size: 80px;
    font-weight: 600;
    max-width: 1000px;
    width: 85vw;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    color: #ff21bc;
    font-weight: bold;
}

.desc1freelancerbox1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 65px;
    padding-left: 15px;
    padding-right: 15px;
}

.btnFreelancer {
    margin: auto;
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 20px;
    background-color: darkturquoise;
}

.box2Freelancer {
    width: 83vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    gap: 1vw;
}

.containerFreelancer {
    width: 295px;
    height: 225px;
    border-radius: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    transition: scale 0.35s ease-in-out;
}

.containerFreelancer:hover {
    scale: 1.15;

}

#one {
    background-image: url(./hire-landing-cat-logo-design.webp);
}

#two {
    background-image: url(./hire-landing-cat-branding.webp);
}

#three {
    background-image: url(./third.webp);

}

#four {
    background-image: url(./fourth.webp);
}

#five {
    background-image: url(./fifth.webp);
}

#six {
    background-image: url(./sixth.webp);
}

#seven {
    background-image: url(./eighth.webp);
}

#eight {
    background-image: url(./seventh.webp);
}

.box3Freelancer {
    width: 83vw;
    height: auto;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.firstBox3 {
    width: 100%;
    height: auto;
    padding-right: 50px;
}

.secondBox3 {
    width: 1000px;
    background-image: url(./HirePage.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.headingfirstbox3 {
    font-size: 60px;
    font-weight: bold;
    color: #ff21bc;
    margin-bottom: 15px;
}

.svg {
    width: 50px;
    height: 50px;
}

.desc1box3 {
    font-size: 26px;
    margin-bottom: 55px;
}

.desc2box3 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: auto;
}

.firstdesc2box3 {
    width: 100%;
    height: auto;
    display: flex;
    gap: 40px;
}

.contentbox3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
}

.contentonebox3 {
    font-weight: bold;
}

.box4Freelancer {
    margin: auto;
    height: auto;
}

.headingonebox4Freelancer {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 75vw;
    color: #ff21bc;
    margin: auto;
    margin-bottom: 100px;
}

.descbox4Freelancer {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
}

.containerbox4Freelancer {
    width: 335px;
    height: auto;
    outline: 2px solid #ff21bc;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.15s ease-in-out;
}

.imageFreelancer {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-image: url(./Avatar.png);
    background-size: 100%;
    outline: 2px solid #ff21bc;
    margin-bottom: 15px;
}

.nameFreelancer {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
}

.skillsFreelancer {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.priceFreelancer {
    display: flex;
    font-size: 16px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.pricetwoFreelancer svg {
    width: 28px;
    height: 28px;
}

.pricetwoFreelancer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.locationMainFreelancer {
    background-image: url(./location.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.locationFreelancer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationContent{
    color: darkturquoise;
}

.locationofFreelancer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.buttonFreelancer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.buttonFreelancer button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

#one div {
    background-color: rgb(31, 31, 31);
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#two div {
    background-color: burlywood;
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#three div {
    background-color: rgb(143, 222, 24);
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#four div {
    background-color: brown;
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#five div {
    background-color: rgb(248, 180, 98);
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#six div {
    background-color: grey;
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#seven div {
    background-color: rgb(194, 128, 227);
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

#eight div {
    background-color: rgb(0, 85, 255);
    padding: 15px;
    border-radius: 20px;
    color: #ffffff;
}

.containerbox4Freelancer:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 11px 4px #ff21bc;
}

@media only screen and (max-width:1000px) {
    .secondBox3 {
        display: none;
    }

    .headingfirstbox3 {
        text-align: center;
    }

    .desc1box3 {
        text-align: center;
    }
}

@media only screen and (max-width:750px) {
    .heading1freelancerbox1 {
        font-size: 60px;
    }

    .desc1freelancerbox1,
    .desc1box3 {
        font-size: 24px;
    }

    .headingfirstbox3,
    .headingonebox4Freelancer {
        font-size: 40px;
    }

    .firstBox3 {
        padding: 0;
    }
}

@media only screen and (max-width:550px) {
    .heading1freelancerbox1 {
        font-size: 50px;
    }

    .desc1freelancerbox1,
    .desc1box3,
    .contentbox3 {
        font-size: 21px;
    }
}

@media only screen and (max-width:450px) {
    .heading1freelancerbox1 {
        font-size: 40px;
    }

    .desc1freelancerbox1,
    .desc1box3,
    .contentbox3 {
        font-size: 18px;
    }

    .headingfirstbox3,
    .headingonebox4Freelancer {
        font-size: 30px;
    }
}
/* #lastboxfreelancer{
    margin-bottom: 20rem;
} */

.light div{
    color: #000000 ;
}