@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
.weather{
    color:white;
    width:100%;
    height:100vh;
    position:relative;
    background-color:rgba(73, 73, 126, 0.4);
    background:url('./image.png') center;
}
.weather::before{
    content:'';
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    z-index:-1;
}
h2{
    margin-top:23px;
    text-align:center;
    font-size:2.5rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-size:1.6rem;
}
h1{
    font-size:6rem;
}
.weather .search {
    margin-top:34px;
    text-align: center;
    padding: 1rem;
}
.weather .search ::before{
    margin-top:90px;
}
.weather input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(8, 8, 8, 0.1);
    color: #f8f8f8;
    border:none;
    outline:none;
}
::placeholder {
    color: #f8f8f8;
  }
.weather-container{
    max-width:700px;
    height:452px;
    margin:auto;
    top:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.weather .top{
    width:100%;
    margin:1rem;
}
.weather .bottom{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
    margin-top:0;
    padding:1rem;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.2);
}

.bold{
    font-weight:700;
}