.App {
  width: 100%;
  height: 100vh;
  background: #121026;
  display: flex;
  overflow: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 525px) {
  .App {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
