/* Existing CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3 sec;
}

.button:hover {
  background-color: #fff;
  border-color: #b21783;
}

.button:hover {
  background: rgb(219, 32, 149);
}

.button2:hover {
  background: rgb(60, 55, 107);
}

.button2 {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #d1d0d5;
  border: 2px solid #443b78;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0px 5px;
  transition: background-color 0.3 sec;
}

.button2:hover {
  border-color: #b21783;
}


/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: #19162c;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff21bc, #b21783);
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb:hover {
  background:  #ff03b3;
}




