* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #0db5cb;
  margin-right: 10px;
  cursor: pointer;
}

.button2 {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #d1d0d5;
  border: 2px solid #443b78;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0px 5px;
}
