.blog-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #121026;
    color: #ffffff;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

.blog-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
}

.blog-post {
    background: #19162c;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 100%;
}

.blog-post h2 {
    margin-bottom: 10px;
    cursor: pointer;
}

.blog-post .date {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 15px;
}

.blog-post .content {
    line-height: 1.6;
    margin-top: 15px;
}

.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.blog-post.expanded .content {
    display: block;
}

.blog-post .content {
    display: none;
}

button {
    background: #ff6347;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #e55347;
}

@media (max-width: 768px) {
    .blog-page {
        padding: 10px;
    }

    .blog-post {
        padding: 15px;
    }
}