.services-page {
    background: #121026;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.services-page h1 {
    text-align: center;
    margin-bottom: 20px;
}
.services {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 0 3%;
}
.service-post {
    background: #1f1c35;
    padding: 15px;
    transition: 0.3s;
    flex: 1 1 300px;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 
    2px solid white;

}
.service-post:hover {
    box-shadow: 7px 7px 32px 0 #6052ff;
}
.service-post h2 {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    text-align: center;
}
.service-post .content {
    text-align: center;
    font-size: 13px;
}
.home-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    cursor: pointer;
}
