.services-page {
    background: #121026;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
.services-page h1 {
    text-align: center;
    margin-bottom: 20px;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.service-post {
    background: #1f1c35;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 7px 7px 32px 0 #6052ff;
}
.service-post:not(.active):hover {
    box-shadow: 0 0px 10px rgba(193, 193, 193, 0.3);
}
.service-post h2 {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-post.active {
    background-color: #1f1c35;
}
.service-post.active * {
    color: #ff21bc !important;
}
.service-post .date {
    font-size: 13px;
    color: #aaa;
}
.services .content {
    line-height: 1.6;
    transition: 0.1s;
    opacity: 0;
    background-color: #1f1c35;
    transform: scaleY(0);
    transform-origin: top;
    width: 100%;
    max-width: 800px;
    margin-bottom: 12px;
    padding: 0 20px;
    border-top: 2px solid #121026;
    box-shadow: 7px 7px 32px 0 #6052ff;
}
.home-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    cursor: pointer;
}
.services .content.expand {
    opacity: 1;
    transform: scaleY(1);
    padding: 20px;
}

.light .services div, .light .services h2{
    background:  lightblue  !important;
    color: #000000 ;
}